
<html ng-app="weatherApp" ng-controller="indexController" lang="en">
  <head>
    <title>
      Uk Weather Data
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/weather_data/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/weather_data/css/loader.css">

  </head>
  <body >

    <div class="container" ng-view>

    </div>
    <script type="text/javascript" src= "../static/weather_data/js/vendors/jquery.min.js"></script>
    <script type="text/javascript" src= "../static/weather_data/js/vendors/bootstrap.min.js"> </script>
    <script type="text/javascript" src= "../static/weather_data/js/vendors/Chart.min.js"></script>
    <script type="text/javascript" src= "../static/weather_data/js/vendors/angular.min.js"></script>
    <script type="text/javascript" src= "../static/weather_data/js/vendors/angular-route.js"></script>
    <script type="text/javascript" src= "../static/weather_data/js/app.js"></script>
    <script type="text/javascript" src= "../static/weather_data/js/customFilters.js"></script>
    <script type="text/javascript" src= "../static/weather_data/js/controllers.js"></script>

  </body>
</html>

